---
layout: "default.njk"
---
<p>
    Here's a small selection of posts I usually write on 
    <a href="https://www.linkedin.com/in/pierg" target="_blank" rel="noopener noreferrer">LinkedIn</a>, 
    but that I also like to keep here. It's not always up-to-date: deal with it.
</p>
<div class="container-wide">
  {{ content | safe }}
</div>
