---
layout: "layout.njk"
bodyClass: layout-default
---

<h1 class="page-title">{{ title }}</h1>

{# CONDIZIONE DEFINITIVA: Controlla se 'tags' esiste E se include 'post' #}
{% if tags and 'post' in tags %}
    <time class="page-date" datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
{% endif %}

{{ content | safe }}