<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ title }} | pierg.com</title>

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <p>HEADER</p>
    </header>

    <main>
        {{ content | safe }}
    </main>

    <footer>
        <p>FOOTER</p>
    </footer>
</body>
</html>